.new-notebook{
    margin-top: 20px;
    margin-bottom: 10px;
}

.note-link{
    padding: 0 18px;
    color: #fff;
    font-size: 11px;
    line-height: 20px;

    .note-new{
        cursor: pointer;
    }

    .note-info{
        margin-left: 10px;
    }
}

