$themeColor: #2fa0ef;

html,body,.root,.app,.container{
    height: 100%;
}

.clearfix{
    &:before,
    &:after{
        display: table;
        content: '';
        line-height: 0;
    }

    &:after{
        clear: both;
    }
}

.section{
    float: left;
}

