.notebook{
    height: 100%;
    width: 16.66667%;
    padding: 30px 0;
    background-color: #3F3F3F;
    overflow-y: auto;
    box-sizing: border-box;

    .notebook-info{
        color: #fff;
        padding: 0 18px;
    }
}